
.comment {
  border: 1px solid #ccc;
  margin: 1rem 15rem;
  padding: 10px;
}

.comment p {
  margin: 0;
}

.comment-actions {
 
  margin-top: 10px;
}

.comment-actions button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

.comment-actions button.edit {
  background-color: #4CAF50;
  color: white;
}

.comment-actions button.delete {
  background-color: #f44336;
  color: white;
}
